.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-overlay, rgba(0, 0, 0, 0.5)); /* escurece o fundo */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}
