.borders-custom{
    border-color: #90A1B9;
    display: flex;
    align-items: center;    /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    text-align: center;
}   
.a-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.equal-width{
  width: 15%; /* ou qualquer valor que se encaixe no seu layout */
  display: flex;
  white-space: nowrap;
}

.equal-width-contact{
  width: auto; /* ou qualquer valor que se encaixe no seu layout */
  display: flex;
  white-space: nowrap;
}
.text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #90A1B9;
  transition: all 0.3s ease;
   white-space: nowrap; 
}

/* Animações no hover */
.text-wrapper:hover {
  color: #ffffff;
  transform: scale(1.05);
}

/* Linha animada */
.text-wrapper::after {
  content: '';
  position: absolute;
  top: 35px; /* altura interna sem colar no texto */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #ff9900;
  transition: width 0.3s ease;
}

.text-wrapper:hover::after {
  width: 90%; /* ou 100% se quiser cobrir tudo */
}
